{% extends 'salary/base.html' %} {% block content %} {% load static %}
<div class="main-panel">
    <div class="content-wrapper">
        {% if y_n == True %}
        <div class="row" style="display: none">
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Attendance for {{ date }}</h4>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th style="color: white;"> Id </th>
                                        <th style="color: white;"> Staff Name </th>
                                        <th style="color: white;"> Attendance </th>
                                        <th style="color: white;"> Role </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <form action="/index" method="POST">
                                        {% csrf_token %}
                                        {% for staffs in staff %}
                                        <input type="hidden" name="staff_id{{staffs.id}}" value="{{staffs.id}}">
                                        <input type="hidden" name="attendance{{staffs.id}}"
                                            id='input_attendance{{staffs.id}}' value="present">
                                        <tr>
                                            <td> {{staffs.id}} </td>
                                            <td> {{staffs.name}} </td>
                                            <td>
                                                <div class="btn-group">
                                                    {% for attendances in attendance %}
                                                    {% if attendances.staff_id|add:0 == staffs.id|add:0 %}
                                                    {% if attendances.attendance == 'present'%}
                                                    {% if attendances.date == date %}
                                                    <button type="button"
                                                        class="btn btn-outline-success dropdown-toggle"
                                                        data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false" id='present{{staffs.id}}'>
                                                        Present
                                                    </button>
                                                    {% endif %}
                                                    {% elif attendances.attendance == 'absent'%}
                                                    {% if attendances.date == date %}
                                                    <button type="button" class="btn btn-outline-danger dropdown-toggle"
                                                        data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false" id='present{{staffs.id}}'>
                                                        Absent
                                                    </button>
                                                    {% endif %}
                                                    {% elif attendances.attendance == 'half-day'%}
                                                    {% if attendances.date == date %}
                                                    <button type="button"
                                                        class="btn btn-outline-warning dropdown-toggle"
                                                        data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false" id='present{{staffs.id}}'>
                                                        Half-day
                                                    </button>
                                                    {% endif %}
                                                    {% endif %}
                                                    {% endif %}
                                                    {% empty %}
                                                    <button type="button"
                                                        class="btn btn-outline-success dropdown-toggle"
                                                        data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false" id='present{{staffs.id}}'>
                                                        Present
                                                    </button>
                                                    {% endfor %}
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item"
                                                            onclick="attendance_present({{staffs.id}})">Present</a>
                                                        <a class="dropdown-item"
                                                            onclick="attendance_absent({{staffs.id}})">Absent</a>
                                                        <a class="dropdown-item"
                                                            onclick="attendance_half_day({{staffs.id}})">Half-day</a>
                                                    </div>
                                                </div>
                                            </td>
                                            <td> {{staffs.role}} </td>
                                        </tr>

                                        {% endfor %}
                                        <tr>
                                            <button type="submit" style="float:right" class="btn btn-info">Save</button>
                                        </tr>
                                    </form>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% elif y_n == False %}
        <div class="row" style="display: block;">
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Attendance for {{ date }}</h4>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th style="color: white;"> Id </th>
                                        <th style="color: white;"> Staff Name </th>
                                        <th style="color: white;"> Attendance </th>
                                        <th style="color: white;"> Role </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <form action="/index" method="POST">
                                        {% csrf_token %}
                                        {% for staffs in staff %}
                                        <input type="hidden" name="staff_id{{staffs.id}}" value="{{staffs.id}}">
                                        <input type="hidden" name="attendance{{staffs.id}}"
                                            id='input_attendance{{staffs.id}}' value="present">
                                        <tr>
                                            <td> {{staffs.id}} </td>
                                            <td> {{staffs.name}} </td>
                                            <td>
                                                <div class="btn-group">
                                                    {% for attendances in attendance %}
                                                    {% if attendances.staff_id|add:0 == staffs.id|add:0 %}
                                                    {% if attendances.attendance == 'present'%}
                                                    {% if attendances.date == date %}
                                                    <button type="button"
                                                        class="btn btn-outline-success dropdown-toggle"
                                                        data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false" id='present{{staffs.id}}'>
                                                        Present
                                                    </button>
                                                    {% endif %}
                                                    {% elif attendances.attendance == 'absent'%}
                                                    {% if attendances.date == date %}
                                                    <button type="button" class="btn btn-outline-danger dropdown-toggle"
                                                        data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false" id='present{{staffs.id}}'>
                                                        Absent
                                                    </button>
                                                    {% endif %}
                                                    {% elif attendances.attendance == 'half-day'%}
                                                    {% if attendances.date == date %}
                                                    <button type="button"
                                                        class="btn btn-outline-warning dropdown-toggle"
                                                        data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false" id='present{{staffs.id}}'>
                                                        Half-day
                                                    </button>
                                                    {% endif %}
                                                    {% endif %}
                                                    {% endif %}
                                                    {% empty %}
                                                    <button type="button"
                                                        class="btn btn-outline-success dropdown-toggle"
                                                        data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false" id='present{{staffs.id}}'>
                                                        Present
                                                    </button>
                                                    {% endfor %}
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item"
                                                            onclick="attendance_present({{staffs.id}})">Present</a>
                                                        <a class="dropdown-item"
                                                            onclick="attendance_absent({{staffs.id}})">Absent</a>
                                                        <a class="dropdown-item"
                                                            onclick="attendance_half_day({{staffs.id}})">Half-day</a>
                                                    </div>
                                                </div>
                                            </td>
                                            <td> {{staffs.role}} </td>
                                        </tr>

                                        {% endfor %}
                                        <tr>
                                            <button type="submit" style="float:right" class="btn btn-info">Save</button>
                                        </tr>
                                    </form>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        <div class="row ">
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Attendance record</h4>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th style="color: white;"> Id </th>
                                        <th style="color: white;"> Name </th>
                                        {% for unique_date_reverse in unique_dates_reverse %}
                                        <th style="color: white;">{{unique_date_reverse}}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for staffs in staff %}
                                    <tr>
                                        <td> {{staffs.id}} </td>
                                        <td> {{staffs.name}} </td>
                                        {% for unique_date_reverse in unique_dates_reverse%}
                                        {% for attendances in attendance%}
                                        {% if attendances.date == unique_date_reverse %}
                                        {% if attendances.staff_id|add:0 == staffs.id|add:0 %}
                                        {% if attendances.attendance == 'half-day'%}
                                        <td>
                                            <div class="badge badge-outline-warning">Half-day</div>
                                        </td>
                                        {% elif attendances.attendance == 'present'%}
                                        <td>
                                            <div class="badge badge-outline-success">Present</div>
                                        </td>
                                        {% elif attendances.attendance == 'absent'%}
                                        <td>
                                            <div class="badge badge-outline-danger">Absent</div>
                                        </td>
                                        {% elif attendances.attendance == 'not_entered'%}
                                        <td>
                                            <div class="badge badge-outline-primary">Not Entered</div>
                                        </td>
                                        {% endif %}
                                        {% endif %}
                                        {% endif %}
                                        {% endfor %}
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% comment %} <div class="row">
            {% for staffs in staff %}
                <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <div class="d-flex align-items-center align-self-start" style='float:right'>
                                        <svg width="16" height="16" fill="currentColor" class="bi bi-pencil-square text-success" viewBox="0 0 16 16">
                                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                        </svg>
                                    </div>
                                    <div class="d-flex align-items-center align-self-start">
                                        <h3 class="mb-0 " style="font-size: 1.3rem">{{staffs.name}}</h3>
                                    </div>
                                    <div class="d-flex align-items-center align-self-start">
                                        <p class="text-success mb-0 font-weight-medium" style='float: right'>{{staffs.number}}</p>
                                    </div>
                                </div>
                            </div>
                            <h6 class=" font-weight-normal text-info">{{staffs.role}}</h6>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div> {% endcomment %}
    </div>
</div>
<script>
    function attendance_present(id) {
        let per = '#present' + id
        document.querySelector(per).textContent = "Present"
        document.querySelector(per).classList.remove("btn-outline-danger")
        document.querySelector(per).classList.remove("btn-outline-warning")
        document.querySelector(per).classList.add("btn-outline-success")

        let input_attendance = 'input_attendance' + id
        document.getElementById(input_attendance).value = "present"
    }

    function attendance_absent(id) {
        let per = '#present' + id
        document.querySelector(per).textContent = "Absent"
        document.querySelector(per).classList.remove("btn-outline-success")
        document.querySelector(per).classList.remove("btn-outline-warning")
        document.querySelector(per).classList.add("btn-outline-danger")

        let input_attendance = 'input_attendance' + id
        document.getElementById(input_attendance).value = "absent"
    }

    function attendance_half_day(id) {
        let per = '#present' + id
        document.querySelector(per).textContent = "Half-day"
        document.querySelector(per).classList.remove("btn-outline-success")
        document.querySelector(per).classList.remove("btn-outline-danger")
        document.querySelector(per).classList.add("btn-outline-warning")

        let input_attendance = 'input_attendance' + id
        document.getElementById(input_attendance).value = "half-day"
    }
</script>
{% endblock %}